 

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;800&family=Tilt+Warp&display=swap');

*{
    font-family: 'Arial', cursive;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    --primary: #000042;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,66,1) 0%, rgba(0, 29, 71, 0.827) 100%);
}

img{
    height: 100px;
}
h1{
    font-size: 36px;
    /* margin: 50px 0px; */
}

#home{
    height: 100vh;
    width: 100vw;
    position:relative;
}
#home nav p{
    color: white;
    margin-left: 50px;
    cursor: default;
}
#home nav p span{
color: white;
}

#home nav{
    position: absolute;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.4);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 300;
}


#home nav ul{
    height: 50px;
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-right: 50px;
    z-index: inherit;
}
#home nav ul li{
text-decoration: none;
list-style: none;

}
#home nav ul li a{
color: white;
line-height: 24px;
font-size: 14px;
text-decoration: none;
letter-spacing:2px;

}
 #home nav ul li a p{
    background-color: springgreen;
    height: 2px;
    width: 0%;
    box-shadow: 0 0 10px 2px #00ff805f,
    0px 5px  25px springgreen,
    0px 0px 50px springgreen;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    left: 50%;
    transition: .3s all;

    
}
#home nav ul li:hover p{
    left: 0;
    width: 100%;
    box-shadow: 0 0 0px 1px #00ff805f,
    0px 0px  25px springgreen,
    0 0px  50px springgreen;
    margin: 5px 0px;
}

#home .background{
    height: 100vh;
    width: 100vw;
    
    /* background: var(--primary); */
    z-index: 1;
    overflow: hidden;
}

.bubbles{
    top: -400px;
    left: 0;
    height: 200vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
rotate: 45deg;
transform: scale(1.5);
overflow: hidden;

}

.bubbles::after{
    content: "My Name is Ibraheem";
    position: inherit;
    height: 100px;
    width: 100px;
    border: 2px red solid;
    top: 0;
    left: 0;
}
.bubbles .bubble{
   height: 15px;
   width: 15px;
   background-color: springgreen;
   margin: 0px 10px;
    border-radius: 50%;
    box-shadow: 0 0 20px 2px #00ff805f,
    0px 5px  20px springgreen,
    0 5px  50px springgreen;
    ;
    animation: animate 15s ease-in-out infinite;
    animation-duration: calc(100s/var(--i));
    overflow: hidden;
}
@keyframes animate {
    0%{
        transform: translateY(200vh) scale(0);
    }
    100%{
        transform: translateY(-20vh) scale(1);
    }
}



#home .background h1{
    font-size: 60px;
    color:white;
    position: absolute;
    top: 300px;
    left: 100px;
    overflow: hidden;
    text-align: left;

    margin-left: 10%;
    /* margin-bottom: 10%; */
    /* text-align: left; */
    line-height: 70px;   
    cursor:default;
}
.background h1 span{
    opacity: 0;
    font-size: 60px;
    animation: appear 2s linear forwards;
    animation-iteration-count: 1;
    animation-delay: calc(100s/var(--f));

}

@keyframes appear {

    0%{
        opacity: 0;
        color: springgreen;
        
    }
    100%{
        opacity: 1;
        transform: translate(0px 0px);
    }
    
}

@keyframes color{
    0%{
        color: springgreen;
    }    
    100%{
        color: white;
    }
}
#home .fa-arrow-down{
    position:absolute;
    height: 60px;
    width: 60px;
    top: 80%;
    left: 50%;
    color: rgba(0, 255, 128, 0.812);
    border:32x rgba(0, 255, 128, 0.812) solid;
    box-shadow: 0 0 0px 2px #00ff805f,
    0px 0px  5px springgreen,
    0 0px  25px springgreen;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 36px;
    font-weight: bolder;
    opacity: 0;
    animation: appear 1s linear forwards;
    animation-delay: 5s;

    transition: .3s all;
    cursor: pointer;
}

#home .fa-arrow-down:hover{
    box-shadow: 0 0 100px 2px #00ff805f,
    0px 0px  5px springgreen,
    0 0px  25px springgreen;

}
.background h1 span:hover{
}
.background::after{
    content: "";
    width: 100%;
    background-color:  rgba(0 ,0,0,0.5);
}
    /* end of home section */

#sections{
    margin:100px  0px 200px 0px;
    height: 75%;

    width: 1250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    z-index: 100;
    border: 2px springgreen solid;
    box-shadow: 0 0 100px 2px #00ff805f,
    0px 0px  10px springgreen,
    0 0px  25px springgreen;
}

.container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 3px rgb(228, 228, 228) solid;
}


/* the about me section -------------------------------------------*/
#about{
    min-height: 1000px;
    max-height: 1000px;
    max-width: 1250px;
    display: grid;
grid-template-columns: 1fr 1fr;
grid-gap: 0;
    position: relative;
    height: 110vh;
    width: 100%;
    overflow: hidden;
    /* background: var(--primary); */

    border-bottom: none;

}
#about  .about-right{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    /* background: var(--primary); */
    
}
.about-right{
    overflow: hidden;
}

.about-left{
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width:650px;
    /* background-color: var(--primary); */
    overflow: hidden;

}
.about-left h1{
    font-weight: bold;
    letter-spacing: 7px;
    font-size: 60px;
    margin: 10px 100px 0px;
    font-family: 'Merriweather Sans', sans-serif;
    color: var(--primary);
    text-transform: uppercase;
    cursor: default;
    overflow: hidden;
    color:var(--primary)
}

.about-left h2{
    margin-top: 20px;
    font-weight: bold;
    font-size: 30px;
    text-transform: capitalize;
    /* margin-bottom: 20px; */
color: var(--primary);
transition: .4s all   ;
cursor: default;
    overflow: hidden;

}
.about-left h2:hover{
color: springgreen;
opacity: .912;

}
.about-left p{
    overflow: hidden;
    margin-left: 5px;
    letter-spacing: 1px;
    line-height: 22px;
    font-size: 14px;
   color: #000042;

}
.about-left ul li p{
    color: var(--primary);
    
    
}
.about-left ul{
    overflow: hidden;
list-style: circle;
}





.about-right img{
    transition: .3s transform;
overflow: hidden;

height: 100%;
    width: 100%;
    align-self: flex-end;
    
    
}
#about .about-right:hover img{
    transform: scale(1.1);
}


/* end of about me section */



.up-button{
    position: fixed;
    top: 90%;
    left: 90%;
    background: navy;
    height: 50px;
    width: 50px;
    z-index: 5;
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.up-button i{
    color: springgreen;
    font-size: 36px;
}





/* project section */

#projects{
    margin-top: 1px;
    border-top: 2px rgb(228, 228, 228) solid;
}
#projects .project-list{
    display:    grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
}

#projects .title{
    margin: 70px 100px 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#projects .title h1{
    font-weight: bold;
    letter-spacing: 7px;
    font-size: 60px;
    margin: 70px 100px 50px;
    font-family: 'Merriweather Sans', sans-serif;
    color: var(--primary);
    text-transform: uppercase;
}
#projects .title p{
    width: 70%;
    justify-self: center;
    align-self: center;
    line-height: 40px;
font-style: italic;
font-weight: lighter;
color: var(--primary);
    font-family: 'Merriweather Sans', sans-serif;

}
#projects .title .all-project-link{

}

#projects .project-list .project{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding:70px 100px 30px 100px;
    border: 1px rgb(228, 228, 228) solid;
}

#projects .project .date{
    color: black;
    font-weight: lighter;
    font-size: 16px;
    margin-bottom: 30px;
    text-align: center;
}
#projects .project .project-title{
    font-size: 30px;
    color: black;
    letter-spacing: 3px;
    font-weight: bolder;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Merriweather Sans', sans-serif;

}

#projects .project .img-container{
   height: 300px;
   width: 470px;
   margin: 40px 20px;
   overflow: hidden;
}
#projects .project .img-container .project-img{
    height: 300px;
    width: 470px;
    transition: .3s all;
}
#projects .project .img-container:hover .project-img{
    transform: scale(1.1);
}

#projects .project-details{
    width: 110%;
    font-weight: lighter;
    color: black;
    font-size: 20px;
    text-align: start;
    line-height: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#projects .project-link { 

}
#projects a{ 
    border: 3px var(--primary) solid;
    height: 50px;
    margin: 50px 100%;;
    padding: 13px 45px;
text-transform: uppercase;
font-size: 14px;
letter-spacing: 1px;
text-decoration: none;
color: var(--primary);
font-family: 'Merriweather Sans', sans-serif;
transition: .5s all;
    display: flex;
    justify-content: center;
    align-items: center;
}

#projects .project a:hover{
    
    border: 3px rgb(0, 207, 104) solid;
    color: rgb(0, 207, 104);
    /* background: springgreen; */
}

.project .img-container{
    font-size: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.project i{
    height: 70px;
    width: 70px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    border: 2px var(--primary) solid;
    border-radius: 50%;
    color: var(--primary);
    transition: .5s all;
    cursor: pointer;
}

.project i:hover{
    transform: scale(1.1);
    border: 2px rgb(0, 207, 104) solid;
    color: rgb(0, 207, 104);
}



/* end of project section */

/* contacts section */
#contacts{
width: 90%;
}
#contacts .title{
    margin-top: 200px;
}
#contacts h1{
    font-weight: bold;
    letter-spacing: 7px;
    font-size: 60px;
    margin: 70px 100px 100px;
    font-family: 'Merriweather Sans', sans-serif;
    color: var(--primary);
    text-transform: uppercase;
}

#contacts .contacts{
height: 100vh;
    width: 100%;
margin: 0;
display: flex;
flex-direction: row;
    justify-content: flex-start;
    /* align-items: center; */
    flex-wrap: wrap;
    margin-left: 8%;

}


#contacts .contact{
    margin: 30px 30px;
    height: 200px;
    width: 200px;
    
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
border-radius: 10px;
transition: .1s all;
}
#contacts .contact i{
    font-size: 45px;
    height: 72px;
    width: 72px;
    border-radius: 50%;
    color: springgreen;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px springgreen solid;
}
.contact p{
    margin-bottom: 15px;
    cursor: default;
}
#contacts .contact a{
    text-decoration: none;
    color: var(--primary);
    transition: .2s all;
}
#contacts .contact:hover{
  
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 5px 1.5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
}

/*end of contacts section */

